<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  {% if title %}
  <title>{{ title }}</title>
  {% else %}
  <title>The Nightngale News App</title>
  {% endif %}
</head>
<body>

  <h3> Top Headlines Sources </h3>
  <h1> Top Headlines Sources</h1>
  <!-- general = get_news('general')
  business = get_news('business')
  entertainment = get_news('entertainment')
  health = get_news('health')
  science = get_news('science')
  sports = get_news('sports')
  technology = get_news('technology') -->

  <!--General Section-->
  <h3> General News Sources</h3>
  <ul>
    {% for general_news in general %}
    <li>{{ general_news.name }} - {{ general_news.description }}</li>
    {% endfor %}
  </ul>

   <!--Business Section-->
   <h3> Business News Sources</h3>
   <ul>
     {% for business_news in business %}
     <li>{{ business_news.name }} - {{ business_news.description }}</li>
     {% endfor %}

</body>
</html> 