{% extends 'base.html' %}

<!--Styles block -->
{% block styles %}
{{ super() }}
<link rel="stylesheet" href="{{url_for('static', filename='css/index.css')}}">

{% endblock %}

<!--Content block-->
{% block content %}

<div class="container">
  {% for news_article in news_articles %}
   <!-- style="max-width: 540px;"  -->
   <div class="card mb-3 article-card">
    <div class="row">
      <div class="col-md-4">
        <img src="{{ news_article.urlToImage }}" class="img-fluid rounded-start" alt="{{ news_article.title }}">
      </div>
      <div class="col-md-8">
        <div class="card-body">
          <h4 class="card-title article-h3">{{ news_article.title}}</h4>
          <p class="card-text">{{news_article.description}}</p>
          <a href="{{news_article.url}}" alt="{{ news_article.title }}">Read the full story here!</a>
          <p class="card-text"><small class="text-muted">Published At: {{ news_article.publishedAt }}</small></p>
        </div>
      </div>
      </div>
    </div>
  </div>

  {% endfor %}
</div>


{% endblock %} 